<header class="header">
  <div class="container__smaller">
    <div class="row">
      <div class="col-xs-3">
        <a href="#" class="logo">LOGO</a>
      </div>
      <div class="col-xs-9 end-xs">
        <a href="#">Our Work</a>
        <a href="#">Our Work</a>
        <a href="#">Our Work</a>
        <a href="#">Our Work</a>
      </div>
    </div>
  </div>
</header>
