<header class="header">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-6 nav">
       <a href="#" class="logo">LOGO</a>
       <a href="#">link</a>
       <a href="#">link</a>
       <a href="#">link</a>
       <a href="#">link</a>
      </div>
      <div class="col-xs-6 end-xs nav">
       <a href="#">link</a>
       <a href="#">link</a>
      </div>
    </div>
  </div>
</header>
