{{> hero}}

<section class="intro pad bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 page-content text-center">
        <h3 class="h2 section-title">Brand transformation is our craft.</h3>
        <h5>We create meaningful experiences people remember.</h5>
      </div>
    </div>
  </div>
</section>

<section class="services bg-gray">
  <div class="container-full">
    {{> services}}
  </div>
</section>

<section class="cta pad bg-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 page-content text-center">

        <a href="" class="btn primary">Get Started</a>
      </div>
    </div>
  </div>
</section>
