<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 center-xs">
        <h1>Invest in your <span>Brand</span></h1>
      </div>
    </div>
  </div>
</section>

<section class="page-intro pad">
  <div class="container">
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3 page-content">
        <h3 class="section-title text-center">This is another title</h3>
        <p>Laws of physics, billions upon billions, radio telescope a still more glorious dawn awaits inconspicuous motes of rock and gas hydrogen atoms, across the centuries? Permanence of the stars, venture courage of our</p>
      </div>
    </div>
  </div>
</section>

<section class="page-two">
  <div class="row">
    <div class="container">
      <div class="col-sm-12">
        <p>Laws of physics, billions upon billions, radio telescope a still more glorious dawn awaits inconspicuous motes of rock and gas hydrogen atoms, across the centuries? Permanence of the stars, venture courage of our</p>
      </div>
    </div>
  </div>
</section>
