<section class="hero">
  <div class="hero-nav">
    <div class="hero-nav__inner">
      <div class="hero-nav__content">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h1>Invest <span>- in your -</span> Brand</h1>
            <p>Finite but unbounded Flatland at the edge of forever hearts of the stars hydrogen atoms.</p>
          </div>
        </div>
      </div>
    </div>
    <canvas id="c" width="100%" height="100%"></canvas>
  </div>
</section>

<section class="page-intro pad">
  <div class="row">
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3 page-content">
        <p>Laws of physics, billions upon billions, radio telescope a still more glorious dawn awaits inconspicuous motes of rock and gas hydrogen atoms, across the centuries? Permanence of the stars, venture courage of our</p>
        <p>Laws of physics, billions upon billions, radio telescope a still more glorious dawn awaits inconspicuous motes of rock and gas hydrogen atoms, across the centuries? Permanence of the stars, venture courage of our</p>
        <p>Laws of physics, billions upon billions, radio telescope a still more glorious dawn awaits inconspicuous motes of rock and gas hydrogen atoms, across the centuries? Permanence of the stars, venture courage of our</p>
      </div>
    </div>
  </div>
</section>

<section class="page-two">
  <div class="row">
    <div class="container">
      <div class="col-sm-12">
        <p>Laws of physics, billions upon billions, radio telescope a still more glorious dawn awaits inconspicuous motes of rock and gas hydrogen atoms, across the centuries? Permanence of the stars, venture courage of our</p>
      </div>
    </div>
  </div>
</section>
