.btn {
  position: relative;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  color: $white;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  padding: 12px 40px;
  transition: 0.25s all ease-out;
  &.primary {
    background-color: $primary;
    color: $white;
    &:hover {
      background-color: lighten($primary, 10%);
      text-decoration: none;
    }
  }
  &.rounded {
    border-radius: 10em;
  }
  &.accent {
    background-color: $accent;
  }
}
