// Layout

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: $white;
  color: white;
  z-index: 9;
  a {
    display: inline-flex;
    margin: 20px;
    color: $black;
    font-family: $font-heading;
  }
}

.page-wrap {
  overflow: hidden;
}
section {
  &.pad {
    padding: 60px 0
  }
}

.hero-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75vh;
  min-height: 75%;
  background: $accent;
  //background-image: url("https://images.unsplash.com/photo-1465068642484-84a40c946217?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 2;

  &:after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 0.4;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/congruent_outline.png");
  }

  .hero-nav__inner {
    z-index: 2;
  }
}
canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.hero-nav__content {
  margin: 2.5em auto auto auto;
  padding: 2em;
  text-align: center;
  color: $white;

  h1 {
    margin: 0 0 0.25em;
    padding: 0;
  }

  span {
    font-size: 0.3em;
    font-family: $font-body;
    vertical-align: middle;
  }

  p {
    margin: 0;
  }
}

.page-content {
  margin: 0 auto;
}
p + p {
  margin-top: 20px;
}
