// Variables

// Colors: Brand
$primary: #25283D; //dark blue
$accent: #cc9a77; //light gold
$gray: #f1f1f1;

// Colors: Generic
$body: #222;
$black: #363636;
$white: #ffffff;

// Components
$color-link: darken($primary, 7%);
$border-light: rgba(#ccc, 0.5);
$color-info: #0088cc; // Blue
$color-success: #377f31; // Green
$color-error: #880e14; // Red
$color-warning: #dba909; // Yellow
$color-code: #dd1144;

// Font Stacks
$font-heading: "Anaheim", sans-serif;
$font-body: "Droid Serif", serif;
$font-monospace: monospace;

$bp-medium: 800px;

// Sizing
$font-size-body: 100%; //use a relative size (ex - 100%); changing variable will adjust scale of site
